[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=Postman
Icon=/opt/Postman/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
